{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">

        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3">
                <div class="col"><h3 class="color-header text-uppercase">Szczegóły
                    przepisu</h3></div>
                <div class="col d-flex justify-content-end mb-2"><a
                        href="{% url 'dodanie_przepisu_do_planu' %}"
                        class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj przepis do planu</a>
                </div>
                <div class="col d-flex justify-content-end mb-2"><a
                        href="{% url 'przepisy' %}"
                        class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
                </div>
            </div>

            <table class="table borderless">
                <tbody>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Nazwa Przepisu</th>
                    <td class="col-7">
                        {{ recipe.name }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Opis przepisu</th>
                    <td class="col-7">{{ recipe.description }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Przygotowanie (minuty)</th>
                    <td class="col-7">
                        {{ recipe.preparation_time }}
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Liczba polubień</th>
                    <td class="col-7">
                        {{ recipe.votes }}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row d-flex">
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Sposób przygotowania</h3></div>
                <div class="col-2"></div>
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Składniki</h3></div>
            </div>
            <div class="row d-flex">
                <div class="col-5 p-4">
                    <p>{{ recipe.preparing_method }}</p>
                </div>
                <div class="col-2"></div>
                <ul class="col-5 p-4 list-unstyled">
                    <li>{{ recipe.ingredients }}</li>
                </ul>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <input type='hidden' value='{{ recipe.id }}' name='id'>
                    <input type="submit" value="Polub przepis">
                </form>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <input type='hidden' value='{{ recipe.id }}' name='id_dislike'>
                    <input type="submit" value="Nie lubię przepisu">
                </form>
            </div>

        </div>
    </div>
{% endblock content %}
